{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/navbar.html' %}


{% load page_tags %}
{% get_country as country %}
<br>
<main class="container">

    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Welcome to Enerdata!
        </h3>
  
        <article class="blog-post">
          
          <p class="blog-post-meta">Solarmio is a Central Asian single platform for the universal collection and analysis of electricity data.</p>
            <p class="blog-post-meta">Every time you use electricity, a single power plant immediately produces a little bit more. Which electricity plant, though?</p> 
            <p class="blog-post-meta">Energy use results in pollution because fossil fuel plants, such coal, are typically to blame. However, as the availability of renewable energy increases, there are more and more instances nowadays where consuming electricity just activates a clean power plant, such as a wind or solar farm. As a result, timing is becoming a potent new option to transition to cleaner energy..</a></p>
  
  

  
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
  
          <div class="p-4">
            <h4 class="fst-italic">Countres</h4>
            
            <ol class="list-unstyled">
              {% for i in country %}
              <li><a href="{% url 'country_detail' i.pk %}">{{i}}</a></li>
              {% endfor %}
            </ol>
            
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Data</h4>
            {% for table in tables %}
            <ol class="list-unstyled mb-0">
              <li><a href="{% url 'table_detail' table.pk %}">{{table.name}}</a></li>

            </ol>
            {% endfor %}
          </div>
  
          
        </div>
      </div>
    </div>
  
  </main>



{% endblock %}
