{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/navbar.html' %}
{% include 'includes/sidebar.html' %}


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{single_countres.country_name}}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="panel panel-default">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Information about the country
                                    </div>

                                    <!-- .panel-heading -->
                                    <div class="panel-body">
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Basic information about {{single_countres.country_name}} </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <p>
                                                        Capital: {{single_countres.capital}}
                                                        <p>
                                                        Country area: {{single_countres.country_area}}
                                                        <p>
                                                        Country population: {{single_countres.country_population}}
                                                        <p>
                                                        Country currency {{single_countres.country_currency}}


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a >Energy sector in {{single_countres.country_name}}</a>
                                                    </h4>
                                                </div>
                                                <div >
                                                    <div class="panel-body">
                                                        {{single_countres.energe_info}}
                                                    </div>
                                                </div>
                                                <div >
                                                    <div class="panel-body">
                                                        <img src="https://cdn.vectorstock.com/i/1000x1000/48/66/energy-industry-and-ecology-of-kyrgyzstan-vector-2994866.webp" class="img-fluid" alt="Responsive image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>

                       
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

           
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}