{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/navbar.html' %}



  
<br>
<main class="container-md">
    
  
    <div class="row mb-2">
      
    </div>
  
    <div class="row g-5">
      <div class="col-md-8">

  
        <article class="blog-post">
            <div class="text-center">
                <h2 class="blog-post-title mb-1">{{country.country_name}}</h2>
            </div>
          <div class="album py-5 bg-light">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
                {% if country.country_photo %}
                <div class="col">
                  <div class="card shadow-sm">
                    <div class="text-center">
                        <img src="{{country.country_photo.url}}" class="img-fluid" alt="Responsive image" width="500" height="500" >
                      </div>
                    <div class="card-body">
                      <p class="card-text">{{country.photo_description}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if country.country_photo_1 %}
                <div class="col">
                  <div class="card shadow-sm">
                    <div class="text-center">
                        <img src="{{country.country_photo_1.url}}" class="img-fluid" alt="Responsive image" width="500" height="500" >
                      </div>
                    <div class="card-body">
                      <p class="card-text">{{country.photo_description_1}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if country.country_photo_2 %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="text-center">
                            <img src="{{country.country_photo_2.url}}" class="img-fluid" alt="Responsive image" width="500" height="500" >
                          </div>
                      <div class="card-body">
                        <p class="card-text">{{country.photo_description_2}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>    
                  {% endif %}         
                  {% if country.country_photo_3 %}
                <div class="col">
                  <div class="card shadow-sm">
                    <div class="text-center">
                        <img src="{{country.country_photo_3.url}}" class="img-fluid" alt="Responsive image" width="500" height="500" >
                      </div>
        
                    <div class="card-body">
                      <p class="card-text">{{country.photo_description_3}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>

    <div class="album py-5 bg-light">
        
        <div class="text-center">
            <h2 class="blog-post-title mb-1">Tables</h2>
          </div>
        <div class="container">
            
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for table in tables %}
            {% if table.country_name_id == country.id %}
            
            
            
            <div class="col">
              <div class="card shadow-sm">
                
                <div class="card-body">
                    <h3>{{table.name}}</h3>
                  <p class="card-text">{{table.description}}.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'table_detail' table.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    
                  </div>
                </div>
                
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      

 
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About {{country.country_name}}</h4>
          <p class="mb-0">{{country.energe_info}}</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Information about {{country.country_name}}</h4>
          <ol class="list-unstyled mb-0">
            <li>Capital: {{country.capital}}</li>
            <li>Country area: {{country.country_area}}</li>
            <li>Country population: {{country.country_population}}  </li>
            <li>Country currency {{country.country_currency}}</li>

          </ol>
        </div>

        
      </div>
    </div>
  </div>

</main>



  

  



    
  </body>
</html>
  
  

  

{% endblock %}
