{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/navbar.html' %}
    <div class="container-md">
        {% for post in posts %}
        <br>
        <div class="card">
            <h5 class="card-header">{{post.name}}</h5>
            <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">{{post.description}}</p>
            <a href="{% url 'table_detail' post.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<!-- /#page-wrapper -->

{% endblock %}