{% load static %}
{% load page_tags %}
<!-- Navigation -->

<!-- /.navbar-header -->



            <nav class="navbar navbar-expand-md navbar-dark bg-dark" class ='navbar-custom'>
              {% get_country as country %}
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About project</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'filter_search' %}">Data</a>
                      </li>
                      
                      <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="{% url 'country' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Countries
                        </a>
                        
                        <ul class="dropdown-menu">
                        {% for count in country %}
                          <li><a class="dropdown-item" href="{% url 'country_detail' count.pk %}">{{count.country_name}}</a></li>
                        {% endfor %}

                        </ul>
                      </li>
                    </ul>
                   
                  </div>
                </div>
              </nav>

<!-- /.navbar-header -->
