{% load static %}


            <ul class="nav navbar-top-links navbar-right">
    
                
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <form action='{% url 'search' %}' method='get' >
                                    <input class="form-control mr-sm-2" name="q" type='search' type="text" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a class="active" href="{% url 'home' %}"><i class=""></i> About the project</a>
                        </li>
                        <li>
                            <a class="active" href=""><i class=""></i>  </a>
                        </li>

                        
                        <li>
                            <a href="{% url 'country' %}"><i class="fa fa-sitemap fa-fw"></i>Countres<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                        </li>
                        <li>   
                               
                                <li>
                                    {% for country in countres %}
                                        <a href="{% url 'country_detail' country.id %}">{{country.country_name}}<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            {% for table in tables %}
                                            {% if country.id == table.country_name_id %}
                                            
                                                <li>
                                                    <a href="{% url 'table_detail' table.id %} ">{{table.name}}</a>
                                                </li>
                                            {% endif %}
                                            {% endfor %}
                                    </ul>
                                    {% endfor %}
                                    <!-- /.nav-third-level -->
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

      